h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.menu-pendiente {
  background-color: white;
  color: green;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.menu-pendiente h2 {
  font-size: 24px;
}

.menu-pendiente .buttons {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Vista de Menú Diario */
.menu-diario {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-diario h3 {
  color: var(--color-accent);
  margin-bottom: 15px;
}


.menu-diario ul li {
  padding: 8px 0;
  font-size: 16px;
  color: var(--color-text-muted);
}

.button:hover {
  background-color: #135f34;
  opacity: 0.8;
}

.button-danger {
  background-color: var(--color-danger);
}

.button-danger:hover {
  background-color: var(--color-danger);
  opacity: 0.8;
}

/* Layout General */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: var(--color-header);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos de Carga */
.loading {
  text-align: center;
  font-size: 18px;
  color: var(--color-text-muted);
  margin-top: 20px;}

.item {
  display: flex;
  flex-direction: column;
}

.item p {
  font-size: 20px;
  color: #c56c00;
}