.report-container {
  padding: 20px;
}

.report-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.plato-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.plato-input .MuiTextField-root {
  margin-right: 10px;
}

.MuiButton-containedPrimary {
  background-color: #82C91E; /* Verde principal */
  color: #ffffff; /* Texto blanco */
}

.MuiButton-containedPrimary:hover {
  background-color: #6db80e; /* Verde un poco más oscuro al hover */
}

.MuiButton-outlinedPrimary {
  color: #82C91E; /* Texto verde */
  border-color: #82C91E; /* Borde verde */
}

.MuiButton-outlinedPrimary:hover {
  background-color: rgba(130, 201, 30, 0.1); /* Fondo verde claro al hover */
  border-color: #6db80e; /* Borde verde un poco más oscuro al hover */
}

.MuiTypography-h4 {
  color: #14375A; /* Azul oscuro para títulos */
  margin-bottom: 20px;
}

.MuiTypography-h6 {
  color: #14375A; /* Azul oscuro para subtítulos */
  margin-bottom: 10px;
}

.MuiAccordionSummary-root {
  background-color: rgba(130, 201, 30, 0.1); /* Fondo verde claro para el acordeón */
  border: 1px solid #82C91E;
}

.MuiAccordionSummary-content {
  margin: 12px 0; /* Ajuste de los márgenes verticales, si es necesario */
}

.MuiAccordionSummary-content .MuiTypography-root {
    color: #14375A; /* Azul oscuro para la fecha en el acordeón */
}

.MuiAccordion-root:before {
    height: 0; /* Elimina la línea horizontal que aparece arriba del acordeón */
}

.MuiIconButton-root {
    color: #14375A;
}