.proyeccion-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
a
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
  text-align: center;
  background-color: white;
}

.proyeccion-titulo {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  cursor: pointer;
}

.fecha {
  font-size: 14px;
  color: #555555;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: background-color 0.2s ease-in-out;
}

.fecha:hover {
  background-color: #e6e6e6;
}

.lista.open {
  max-height: 300px; /* Ajusta la altura máxima para más elementos */
  overflow-y: auto;
}

.lista-item {
  background-color: #f8f9fa;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.lista-item p {
  margin: 0;
}

.lista-item strong {
  color: #009b15;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: #555555;
}

.fecha-item {
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  min-width: 200px;
  background-color: #ffffff;
}

.lista-container {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}
.fechas-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  overflow-x: hidden;
  max-height: 0; 
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.fechas-container.open {
  max-height: 500px; 
  opacity: 1;
}

.lista {
  list-style-type: none;
  padding: 0;
  max-height: 0; /* Inicialmente oculto */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transición */
  margin-top: 10px;
  opacity: 0; /* Inicialmente transparente */
}

.lista.open {
  max-height: 300px; /* Ajusta la altura máxima para más elementos */
  overflow-y: auto;
  opacity: 1; /* Completamente visible */
}