.App-logo {
    height: 5em;
    position: relative;
    top: 0;
    left: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.App-header {
    background-color: #ffffff;
    min-height: 10vh;
    min-width: 500px;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 60%;
    margin: 20px auto;
}

.Top-header {
    background-color: rgb(42, 42, 102);
    justify-content: space-around;
    width: 100%;
    position: sticky;
    font-size: 12px;
    display: flex;
}
  