.App {
  text-align: center;
  background-image: url("../public/frontis_casino.jpg");
  background-size: auto;
  background-position: top;
  height: 800px;
}

.App-logo {
  height: 5em;
  position: relative;
  top: 0;
  left: 0;
}

.Top-header {
  background-color: rgb(42, 42, 102);
  justify-content: space-around;
  width: 100%;
  position: sticky;
  font-size: 12px;
  display: flex;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}