.App {
  text-align: center;
  background-image: url("../public/frontis_casino.jpg");
  background-size: auto;
  background-position: top;
  height: 800px;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.App-link {
  color: #61dafb;
}